.Board__cell {
  align-items: center;
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  user-select: none;
}

.Board__cell:hover {
  background-color: var(--primary-dark);
}

.Board__cell:nth-of-type(n+4) {
  border-top: solid 10px var(--yellow);
}

.Board__cell:nth-of-type(3n - 1),
.Board__cell:nth-of-type(3n) {
  border-left: solid 10px var(--yellow);
}