.Board {
  display: grid;
  font-family: 'Permanent Marker';
  font-size: 5rem;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 500px;
  width: 500px;
}

.Board__indicator {
  background-color: var(--primary-light);
  padding: 2rem;
  position: fixed;
  right: 1rem;
  top: 1rem;
}